@import '../../../styles/settings.scss';

button {
  // display:none;
}

.table {
  border: 2px solid black;
  width: 100vw;
}
.hobby {
  display:flex;
  flex-direction: row;
}
.iconHobby{
  margin-top: 6px;
}

.inputCol1{
  width: (100vw)/12;
}
.inputCol2{
  width: (100vw)*2/12;
}

button{
  width: (100vw)/12;
}

.hobbiesButton{
    background-color: grey;
}